---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro"
import { Icon } from "astro-icon/components";
import { cmContactUs } from "../locale/cms-locale.json";
import localeTextSite from "../locale/locale_text_site.json";

---

<Layout title={localeTextSite.pages.contactUs.title} description={localeTextSite.pages.contactUs.description}>
  <Container>
 
    <div class="mt-10">
			<p class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
			  {cmContactUs.title.value}
			</p>
			<p class="text-lg mt-4 text-slate-600">
			  {cmContactUs.subtitle.value}
			</p>
		  </div>
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">{cmContactUs.formTitle.value} </h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          {cmContactUs.formSubtitle.value}
        </p>
        <div class="mt-2">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>{cmContactUs.address.value}</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href=`mailto:${cmContactUs.email.value}`
              >{cmContactUs.email.value}</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href=`tel:${cmContactUs.phone.value}`>{cmContactUs.phone.value}</a
            >
          </div>

        {cmContactUs.isCompanyDetails.value &&   <div class="mt-3 text-sm max-w-md mx-auto bg-gray-100 p-3 rounded-lg shadow-md">
            <h2 class=" font-bold text-gray-800 mb-2">{cmContactUs.nameCompany.value}</h2>
            <h3 class="font-bold text-gray-800 mb-2">{cmContactUs.nameBankTitle.value}</h3>
            <ul class="text-gray-700">
                <li><span class="font-semibold">{localeTextSite.pages.contactUs.dataTitle.innTitle}:</span> {cmContactUs.inn.value}</li>
                <li><span class="font-semibold">{localeTextSite.pages.contactUs.dataTitle.kppTitle}:</span> {cmContactUs.kpp.value}</li>
                <li><span class="font-semibold">{localeTextSite.pages.contactUs.dataTitle.paymentAccountTitle}:</span> {cmContactUs.paymentAccount.value}</li>
                <li><span class="font-semibold">{localeTextSite.pages.contactUs.dataTitle.bankTitle}</span> {cmContactUs.nameBank.value}</li>
                <li><span class="font-semibold">{localeTextSite.pages.contactUs.dataTitle.correspondentAccountTitle}:</span> {cmContactUs.correspondentAccount.value}</li>
                <li><span class="font-semibold">{localeTextSite.pages.contactUs.dataTitle.bikTitle}:</span> {cmContactUs.bik.value}</li>
            </ul>
        
            <h2 class=" font-bold text-gray-800 mt-3 mb-4">{cmContactUs.operatingMode.value}</h2>
            <ul class="text-gray-700">
                <li><span class="font-semibold">{cmContactUs.operatingModeWorkDay.value}</li>
                <li><span class="font-semibold">{cmContactUs.operatingModeSaturday.value}</li>
                <li><span class="font-semibold">{cmContactUs.operatingModeSunday.value}</li>
            </ul>
        </div>  }     
          
        </div>
      </div>
      
      <div>
        <ContactForm />        
      </div>
      
    </div>
  </Container>
</Layout>